*{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-family: sans-serif;
    cursor: context-menu;
}

#image{
    
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: white;
}
    



.ali{
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: row;
    background-color:azure;
    justify-content: space-between;
    color: rgb(214, 158, 158);
    font-size: x-large;
    text-decoration: solid;
    
}

nav a:hover{
    background-color: transparent;
    color: black;
}

.class {
    display: flex;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    flex-direction: row;

}

.ww{
    color: black;
    font-family: sans-serif;
    font-size: xx-large;
    display: absolute;
    flex-direction: row;
    justify-content: start;
    transition: 1s;
    
}

.ww:hover{
    color: rgba(243, 10, 10, 0.733);
}

h1{
    color: rgb(119, 50, 184);
    font-size: xx-large;
    
}

.rr{
    color: black;
    justify-content: center;
}

.body :hover{
    background-color: black;
    margin: 15px;
    
}

body{
    background: url(8.jpg) center center fixed ;
    background-size: cover;
    animation: body 50s ease-in-out 5s infinite normal;
}

.gg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
} 

img{
    border: 20px double hwb(202 73% 2%);
    animation: clour 1s ease-in 5s infinite normal;
    
}

img:hover{

    border: 20px double purple;
}

@keyframes clour{
    0%{
        background-color: rgba(182, 211, 19, 0.979);
    }

    50%{
        background-color: rgb(233, 8, 8);
    }

    100%{
        background-color: rgb(218, 47, 141);
        
    }
    
}

.ag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;  
}

.eg{
    width: 160px;
    color: black;
    
}



hr:hover{
    background-color: white;
}

.rr:hover{
    color: white;
}

h1:hover{
    color: white;
}

@keyframes body{
    0%{
        background-image: url(a.jpg);
    }

    10%{
        background-image: url(q.jpg);
    }

    20%{
        background-image: url(s.jpg);
    }
    30%{
        background-image: url(11.jpg);
    }

    40%{
        background-image: url(12.jpg);
    }

    50%{
        background-image: url(13.jpg);
    }
    60%{
        background-image: url(14.jpg);
    }

    70%{
        background-image: url(15.jpg);
    }

    90%{
        background-image: url(16.jpg);
    }
    100%{
        background-image: url(17.jpg);
    }

    
}

hr{
    height: 20px;
    width: 100px;
    background-color: black;
}

.pp{
    width: auto;
    height: 10px;
    transition: 2s;
}

.pp:hover{
    background-color: white;
}

.nn{
    background-color:transparent;
    position: relative;
    right: 30px;
    
}
@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        justify-content: space-between;
        display: flex;
    }

    nav a {
        font-size: small;
        display: relative;
        text-align: center;
        padding: 10px;
        background-color: transparent;
        color: black; 
        text-decoration: none;
        margin: 0 0 25px 0; 
    }
    nav a:hover{
        color: white;
    }
    

    h1 {
        font-size: 1.5rem;
        font-size: xx-large;
        padding: relative;
        margin-right: 200px;
    }
    hr{
        position: relative;
        margin-right: 200px;
    }
    img {
        max-width: 150px;
        padding: relative;
        margin-right: 150px;
    }
    .ww{
       max-width: 65px;
       font-size: large;
       position: relative;
       top: 5px;
    }
    .pp{
        padding: relative;
        margin: 0  15px 0 0;
        position: relative;
        left: auto;
        right: auto;
    }

    body{
        background-size: cover;
    }
    .pp{
        width: 360px;
    }
}

.qwe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 241, 241);
    position: relative;
    margin-top: 470vh;
}
.qwe a{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: none;
    text-decoration: none;
    margin: 15px;
    padding: 14px;
    width: 100%;

}