*{
    margin: 0;
    padding: 0;
}

.asif{
    background-color: black;
    border: 50% solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media {min-width: 3404x; max-width: 882px;
       .asif{
        justify-content: space-around;
       }
} 

.ww{
    color: white;
    justify-content: end;
    
}

body{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

