*{
    padding: 0;
    margin: 0;
}

body{
    background: url(cg.jpg)center center fixed;
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

a{
    color: wheat;
    margin-right: 380px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width:  60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.boxs{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    border-bottom: 5px solid;
    font-size: 8vmin;
    cursor: grabbing;
}

.reset{
    background-color: black;
    border-radius: 20px;
    color: white;
    width: 110px;
    height: 40px;
    justify-content: center;
    font-style: italic;
    cursor: alias;
}